
  body {
  margin-bottom: 14px;
  font-size: 2em;
  font::"Times New Ronan";
}

.redacted{
  background-color: black;
  color: transparent;
}

.revealed{
  background-color: transparent;
  color: red;
}
