body {
  background-color: lightblue;
  background-image: url('../assets/images/bg.gif');
  background-position: top center;
  background-repeat: no-repeat;
}

#tree {
  position:absolute;
  top: 600px;
  left: 830px;
}

#dialogbox {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 500px;
  top: 200px;
}

#watercan {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50px;
  top: 400px;
}

#fertilizer {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 50px;
  top: 100px;
}
