body {
  font-family: 'Teko', sans-serif;
  background-color: lightblue;
  background-image: url('../assets/images/bg.gif');
  background-position: top center;
  background-repeat: no-repeat;
}

#title {
  position: absolute;
  height: 300px;
  width: 700px;
  top: 22%;
  left: 45%;
  font-size: 70px;
}

#introduction {
  position: absolute;
  height: 400px;
  width: 500px;
  top: 45%;
  left: 45%;
  font-size: 25px;
}

#gamebox {
  display: none;
  font-size: 25px;
}

#tree {
  position: absolute;
  bottom: 0.5%;
  left: 45%;
  vertical-align:baseline;
}

#dialogbox {
    position: absolute;
  height: 300px;
  width: 300px;
  top: 30%;
  left: 50%;
}

#poembox {
    position: absolute;
  height: 300px;
  width: 270px;
  top: 42%;
  left: 51%;
}

#watercan {
  position: absolute;
  height: 280px;
  width: 280px;
  left: 3%;
  top: 5%;
}

#fertilizer {
  position: absolute;
  height: 280px;
  width: 280px;
  left: 3%;
  top: 40%;
}

#scissor {
  position: absolute;
  height: 280px;
  width: 280px;
  left: 3%;
  top: 75%;
}

#instruction {
  position: absolute;
  width: 300px;
  height: 800px;
  left: 80%;
  top: 20%;
}
