body {
}

#tree {
  position:absolute;
}

#watercan {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 700px;
  top: 600px;
}

#fertilizer {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 700px;
  top: 100px;
}
