body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f28f72;
  font-family: "Raleway", sans-serif;

}

h3 {
  padding: 14px;
  background-color: #f9f683;
  margin: 0;
}

h6 {
  background-color: #f9f683;
  align-items: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.w3-row {
  color: #f28f72;
  font-size: 16px;
  margin-left: 50px;
}

.w3-third img {
  margin-bottom: -6px;

  opacity: 0.8;
  cursor: pointer;
  opacity: 1;
}

.w3-third img:hover {
  opacity: 0.5;

}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#refreshButton {
  background-color: #53c6c3;
  border: 10px solid #f28f72;
  border-radius: 5px;
  padding: 10px 24px;
}
