body{
  background-color: #f0f0f0;
}
/* style first div (instruction) and assign specific position*/
.div1 {
  position: absolute;
  background-color: black;
  right: 100px;
  width: 50vh;
  height: 100vh;
  border: 40px solid black;
}

/* style the second div that contains the pot */
.div2 {
  position: absolute;
  left: 250px;
  top: 200px;
  width: 600px;
  height: 600px;
}

/* style the third div which contains all the potions and flex wrap all images */
.div3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* change potion images' size */
.potion {
  width: 250px;
  height: 250px;
}

/* style the button */
#button {
  background-color: white;
  border: 5px solid white;
  text-aligh: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: black;
}

/* style the hover effect */
#button:hover {
  background-color: black;
  color: white;
}

/* style the instruction, including modifying its size and position */
#instruction {
  letter-spacing: 6px;
  line-height: 2;
  font-family: 'Press Start 2P', cursive;
  color: white;
}
