body {
}

.div1{
  position: absolute;
  background-color: black;
  right: 150px;
  top: 200px;
  width: 350px;
  height: 500px;
  border: 20px solid black;
}


.div2{
  position: absolute;
  left: 250px;
  top: 200px;
  width: 600px;
  height: 600px;
}


.div3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.potion{
  width: 250px;
  height: 250px;
}

#button{
  background-color: white;
  border: 5px solid white;
  text-aligh: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 36px;
  color: black;
}

#instruction{
  font-family: 'Press Start 2P', cursive;
  color: white;
}
