body {
}

.div1{
  position: absolute;
  right: 50px;
  top: 30px;
  width: 350px;
  height: 700px;
  border: 10px solid blue;
}

.div2{
  position: absolute;
  left: 250px;
  top: 150px;
  width: 600px;
  height: 600px;
}

.div3{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 10px solid blue;
}


.potion{
  width: 250px;
  height: 250px;
}
